<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <script src="https://verify.sendwyre.com/js/widget-loader.js"></script>
  <title>Minds Checkout</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but checkout doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>

  <script src="https://js.stripe.com/v3/"></script>
  <!-- built files will be auto injected -->
</body>

</html>