/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url('/assets/fonts/roboto/light-cyrillic-ext.woff2') format('woff2');
    src: local('Roboto Light'), local('Roboto-Light'), url('/assets/fonts/roboto/light-cyrillic-ext.woff') format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url('/assets/fonts/roboto/light-cyrillic.woff2') format('woff2');
    src: local('Roboto Light'), local('Roboto-Light'), url('/assets/fonts/roboto/light-cyrillic.woff') format('woff');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url('/assets/fonts/roboto/light-greek-ext.woff2') format('woff2');
    src: local('Roboto Light'), local('Roboto-Light'), url('/assets/fonts/roboto/light-greek-ext.woff') format('woff');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url('/assets/fonts/roboto/light-greek.woff2') format('woff2');
    src: local('Roboto Light'), local('Roboto-Light'), url('/assets/fonts/roboto/light-greek.woff') format('woff');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url('/assets/fonts/roboto/light-vietnamese.woff2') format('woff2');
    src: local('Roboto Light'), local('Roboto-Light'), url('/assets/fonts/roboto/light-vietnamese.woff') format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url('/assets/fonts/roboto/light-latin-ext.woff2') format('woff2');
    src: local('Roboto Light'), local('Roboto-Light'), url('/assets/fonts/roboto/light-latin-ext.woff') format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url('/assets/fonts/roboto/light-latin.woff2') format('woff2');
    src: local('Roboto Light'), local('Roboto-Light'), url('/assets/fonts/roboto/light-latin.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('/assets/fonts/roboto/regular-cyrillic-ext.woff2') format('woff2');
    src: local('Roboto'), local('Roboto-Regular'), url('/assets/fonts/roboto/regular-cyrillic-ext.woff') format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('/assets/fonts/roboto/regular-cyrillic.woff2') format('woff2');
    src: local('Roboto'), local('Roboto-Regular'), url('/assets/fonts/roboto/regular-cyrillic.woff') format('woff');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('/assets/fonts/roboto/regular-greek-ext.woff2') format('woff2');
    src: local('Roboto'), local('Roboto-Regular'), url('/assets/fonts/roboto/regular-greek-ext.woff') format('woff');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('/assets/fonts/roboto/regular-greek.woff2') format('woff2');
    src: local('Roboto'), local('Roboto-Regular'), url('/assets/fonts/roboto/regular-greek.woff') format('woff');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('/assets/fonts/roboto/regular-vietnamese.woff2') format('woff2');
    src: local('Roboto'), local('Roboto-Regular'), url('/assets/fonts/roboto/regular-vietnamese.woff') format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('/assets/fonts/roboto/regular-latin-ext.woff2') format('woff2');
    src: local('Roboto'), local('Roboto-Regular'), url('/assets/fonts/roboto/regular-latin-ext.woff') format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('/assets/fonts/roboto/regular-latin.woff2') format('woff2');
    src: local('Roboto'), local('Roboto-Regular'), url('/assets/fonts/roboto/regular-latin.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/assets/fonts/roboto/medium-cyrillic-ext.woff2') format('woff2');
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/assets/fonts/roboto/medium-cyrillic-ext.woff') format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/assets/fonts/roboto/medium-cyrillic.woff2') format('woff2');
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/assets/fonts/roboto/medium-cyrillic.woff') format('woff');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/assets/fonts/roboto/medium-greek-ext.woff2') format('woff2');
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/assets/fonts/roboto/medium-greek-ext.woff') format('woff');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/assets/fonts/roboto/medium-greek.woff2') format('woff2');
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/assets/fonts/roboto/medium-greek.woff') format('woff');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/assets/fonts/roboto/medium-vietnamese.woff2') format('woff2');
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/assets/fonts/roboto/medium-vietnamese.woff') format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/assets/fonts/roboto/medium-latin-ext.woff2') format('woff2');
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/assets/fonts/roboto/medium-latin-ext.woff') format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../assets/fonts/roboto/medium-latin.woff2') format('woff2');
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../assets/fonts/roboto/medium-latin.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../assets/fonts/roboto/medium-cyrillic-ext.woff2') format('woff2');
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../assets/fonts/roboto/medium-cyrillic-ext.woff') format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/assets/fonts/roboto/medium-cyrillic.woff2') format('woff2');
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/assets/fonts/roboto/medium-cyrillic.woff') format('woff');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/assets/fonts/roboto/medium-greek-ext.woff2') format('woff2');
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/assets/fonts/roboto/medium-greek-ext.woff') format('woff');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/assets/fonts/roboto/medium-greek.woff2') format('woff2');
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/assets/fonts/roboto/medium-greek.woff') format('woff');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/assets/fonts/roboto/medium-vietnamese.woff2') format('woff2');
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/assets/fonts/roboto/medium-vietnamese.woff') format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/assets/fonts/roboto/medium-latin-ext.woff2') format('woff2');
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/assets/fonts/roboto/medium-latin-ext.woff') format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/assets/fonts/roboto/medium-latin.woff2') format('woff2');
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/assets/fonts/roboto/medium-latin.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  