<template></template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Splash from './Splash.vue';

@Component({
   components: {
    Splash,
  },
})
export default class Authorize extends Vue {


  public mounted() {
    if (this.$route.query.usd) {
      localStorage.usd = this.$route.query.usd;
    }
    if (this.$route.query.checkout_key) {
      this.authorize();

    } else {
      this.redirect(process.env.VUE_APP_MINDS_URL);
    }
  }

  public authorize() {
    const params = new URLSearchParams();
    params.append('checkout_key', this.$route.query.checkout_key.toString());
    params.append('response_type', 'token');
    params.append('client_id', 'checkout');
    params.append('scope', 'checkout');
    this.redirect((process.env.VUE_APP_MINDS_URL  + '/oauth2/implicit?' + params.toString()));
  }

  public redirect(url: string) {
    window.location.assign(url);
  }
}
</script>

<style lang="scss">
</style>
