<template>
 
  <div>
     <Splash :completed="completed" :ethAddress="ethAddress" />
  </div>
</template>

<script lang="ts">

declare var Wyre: any;
import { Component, Prop, Vue } from 'vue-property-decorator';
import Splash from './Splash.vue';
import AccountResponse from '../models/AccountResponse';
import Account from '../models/Account';


@Component({
  components: {
    Splash,
  },
})
export default class SendWyre extends Vue {

  public widget: any;
  public ethAddress: string = '';

  public completed = false;

  private account: Account = localStorage.account;
  private accessToken: string = '';

  public redirect(url: string) {
    window.location.assign(url);
  }

  public mounted() {

    if (! this.$route.query.access_token) {
      this.redirect('/Splash');
    }

    this.accessToken = this.$route.query.access_token.toString();

    this.initWidget();
  }

  public async initWidget() {

    try {
      const addresses = await (<any>window).ethereum.enable();
      this.ethAddress = addresses[0];
    } catch (e) {
      while (!this.ethAddress) {
        await this.initWidget();
        return;
      }
    }

    console.log(this.ethAddress);

    this.widget = new Wyre.Widget({
		// env: 'test',
		env: 'prod',
		// apiKey: process.env.VUE_APP_SENDWYRE_APP_ID,
		auth: { type: 'metamask' },
		// accountId: 'AC_W473ZTFTG33',
		accountId: 'AC_TNCD9GVCFA9',
		operation: {
		  type: 'debitcard',
		  // dest: "0x98B031783d0efb1E65C4072C6576BaCa0736A912",
		  dest: this.ethAddress,
		  destCurrency: "ETH",
		  sourceAmount: localStorage.usd,
		},
	  });

    this.widget.on('complete', (e: any) => {
        console.log(e);
    });

    this.widget.on('close', (e: any) => {
        this.completed = true;
        window.close();
    });

    this.showWidget();
  }

  private showWidget() {
    this.widget.open();
  }

  private async getAccount() {
    const authHeaders = new Headers();
    authHeaders.append('Authorization', `Bearer ${this.accessToken}`);
    const accountResponse = await fetch(`${process.env.VUE_APP_MINDS_URL}/api/v2/sendwyre/accounts`,
    {
        method: 'GET',
        headers: authHeaders,
    })
    .then((response) => response.json())
    .catch((error) => {
      console.log(error);
    });
    return accountResponse as AccountResponse;
  }

}

</script>

<style lang="scss">
</style>
