<template>
  <div class="m-splash">
    <div class="m-nav">
      <a id="back-nav" class="m-nav--item" v-bind:href="siteUrl">Go back</a>
    </div>
    <img class="m-splash--logo" alt="Minds" src="../assets/logos/logo.svg">
    <h3 id="wait-message" class="m-splash--title" v-if="!completed">Please wait a moment ...</h3>
    <h3 id="wait-message" class="m-splash--title" v-if="completed">...</h3>

    <h3 id="wait-message" class="m-splash--title" v-if="!ethAddress">Awaiting Metamask approval</h3>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
@Component
export default class Splash extends Vue {
  public siteUrl = process.env.VUE_APP_MINDS_URL;
  @Prop(Boolean) readonly completed: boolean = false;
  @Prop(String) readonly ethAddress: string = '';

}
</script>

<style lang="scss">
.m-splash {
  .m-nav {
    height: 45px;
    padding: 20px;

    .m-nav--item {
      font-family: Roboto, Helvetica, sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #888;
      font-size: 10px;
    }
  }
  .m-splash--logo {
    display: block;
    margin: 100px auto 50px auto;
    width: 250px;
  }

  .m-splash--title {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: #888;
  }
}
</style>
