<template>
  <div class="input-form">
    <form
      v-on:submit.prevent
      method="post"
      id="payment-form"
      class="payment-form"
    >
      <div class="form-row">
        <label for="card-element"> Credit or debit card </label>
        <div ref="card"></div>

        <div id="card-errors" role="alert">
          {{ errorMessage }}
        </div>
      </div>

      <button v-on:click="submit" v-if="!saving">Save Card</button>
      <button v-if="saving">Saving...</button>
    </form>

    <img src="../assets/stripe/powered-by-stripe.svg" height="32px" />
  </div>
</template>

<script lang="ts">
declare var Wyre: any;
declare var Stripe: any;
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({})
export default class StripeComponent extends Vue {
  public errorMessage: string = '';
  public saving: boolean = false;
  private stripe = Stripe(`pk_live_TmRkoEoAep4oOu40VARALUsU`); // TODO: Make this an ENV variable
  private intentKey: string = '';
  private cardElement: any;

  public redirect(url: string) {
    window.location.assign(url);
  }

  public mounted() {
    this.intentKey = this.$route.query.intent_key.toString();

    const elements = this.stripe.elements();

    const style = {
      base: {
        'color': '#32325d',
        'fontFamily': '"Helvetica Neue", Helvetica, sans-serif',
        'fontSmoothing': 'antialiased',
        'fontSize': '16px',
        '::placeholder': {
          color: '#aab7c4',
        },
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a',
      },
    };

    this.cardElement = elements.create('card', { style });
    this.cardElement.mount(this.$refs.card);

    this.cardElement.addEventListener('change', (event: any) => {
      if (event.error) {
        this.errorMessage = event.error.message;
      } else {
        this.errorMessage = '';
      }
    });
  }

  public async submit() {
    this.saving = true;

    const { setupIntent, error } = await this.stripe.handleCardSetup(
      this.intentKey,
      this.cardElement,
    );
    console.log(setupIntent, error);

    if (error) {
      this.saving = false;
      this.errorMessage = error.message;
    }

    if (setupIntent) {
      this.emitToParent();
    }
  }

  public emitToParent() {
    const evt = new CustomEvent('stripe-checkout', {
      detail: {
        success: true,
      },
    });

    window.parent.postMessage('completed-saved-card', 'https://www.minds.com/');
    window.parent.postMessage('completed-saved-card', 'https://mobile.minds.com/');

    // window.parent.dispatchEvent(evt);
  }
}
</script>

<style lang="scss">
$maxMobile: 400px;

html {
  font-family: Roboto, Helvetica, sans-serif;
  color: #6b7c93;
}

* {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-variant: normal;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.payment-form {
  position: relative;
  display: flex;
  align-items: flex-start;

  @media screen and (max-width: $maxMobile) {
    flex-direction: column;
  }
}

.input-form {
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
}

button {
  border: none;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  color: #fff;
  background: #32325d;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  float: left;
  margin-left: 12px;
  margin-top: 25px;
  cursor: pointer;

  @media screen and (max-width: $maxMobile) {
    margin: 0;
    margin-bottom: 25px;
  }
}

label {
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}

.form-row {
  flex: 1;

  @media screen and (max-width: $maxMobile) {
    width: 100%;
  }
}

#card-errors {
  height: 20px;
  padding: 4px 0;
  color: #fa755a;
}

input,
.StripeElement {
  //height: 40px;
  padding: 10px 12px;

  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

input:focus,
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
</style>
