<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Route from 'vue-router';

@Component
export default class App extends Vue {
}
</script>

<style>
</style>
